doctype html
html

  include head.pug
  link(rel='stylesheet', href='/css/cv.css')
  title cv 
  
  body
    include nav.pug
    div(class='container')
      div(class='row')
        div(class='col-lg-3')#cvIdentity
          include cvIdentity.pug
        div(class='col-lg-9')
          include cvTitle.pug
          div(class='row')
            div(class='col-lg-6')
              include cvWork.pug
            div(class='col-lg-6')
              include cvSkills.pug

    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript' src='/./js/cv_work.js')
    script(type='text/javascript' src='/./js/cv_skills.js')
    script(type='text/javascript' src='/./js/cv_identity.js')
