h3 #{identity.cvI_name} 
div#identity
  div#picture
    img(src=identity.cvI_profilPicture)#photo
    button(type="button" class="btn btn-outline-warning btn-sm btnUpdateCv" data-toggle="modal" data-target="#pictureModal" data-whatever="cv_identity" id=id_cv) Modifier la photo
  
  div#infos
    button(type="button" class="btn btn-outline-warning btn-sm btnUpdateCv" data-toggle="modal" data-target="#identityModal" data-whatever="cv_identity" id=id_cv) Modifier l'identité
    if identity.cvI_website
      ul
        li
          a(href='http://'+identity.cvI_website) #{identity.cvI_website}
  div#contact 
    ul
      if identity.cvI_email 
        li #{identity.cvI_email}
      if identity.cvI_phoneNumber
        li #{identity.cvI_phoneNumber}

div(class="modal fade" id="identityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title" id="exampleModalLabel") Identité
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") X
      div(class="modal-body")
        form
          div(class="form-group")
            label(for="name" class="col-form-label") Nouveau nom : 
            input(type="text" class="form-control firstFocus" id='cvI_name' value=identity.cvI_name)
          div(class="form-group")
            label(for="email" class="col-form-label") Nouveau email : 
            input(type="text" class="form-control" id='cvI_email' value=identity.cvI_email)
          div(class="form-group")
            label(for="website" class="col-form-label") Nouveau site web : 
            input(type="text" class="form-control" id='cvI_website' value=identity.cvI_website)
          div(class="form-group")
            label(for="phoneNumber" class="col-form-label") Nouveau numéro de téléphone : 
            input(type="tel" class="form-control" id='cvI_phoneNumber' value=identity.cvI_phoneNumber)
      div(class="modal-footer")
        button(type="button" class="btn btn-secondary" data-dismiss="modal") Annuler
        button(type="button" class="btn btn-primary btnValidUpdate" id=id_cv) Valider

div(class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="pictureModal" aria-hidden="true")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title" id="exampleModalLabel") Photo ;
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") X
      div(class="modal-body")
        form
          div(class="form-group")
            label(for="profilPicture" class="col-form-label") Nouvelle photo : 
            input(type="file" name="image" id='cvI_profilPicture')
            div#info
      div(class="modal-footer")
        button(type="button" class="btn btn-secondary" data-dismiss="modal") Annuler
        button(type="button" class="btn btn-primary btnValidUpdateProfilePicture" id=id_cv) Valider
