h4#cvSkills Compétences :
  //- Button Add 
  button(type="button" class="btn btn-outline-success btn-sm btnAddCSkills" data-toggle="modal" data-target="#skillModal" data-whatever="cv_skill" id=id_cv) Ajouter 
//- Description cv_skills
div
  each val in skill
    div#divSkills
      br
      span#name #{val.cvS_name} 
      button(type="button" class="btn btn-outline-warning btn-sm btnUpdateCvSkills" data-toggle="modal" data-target="#skillModal" data-whatever="cv_skill" id=val.id) Modifier
      button(type="button" class='btn btn-outline-danger btn-sm btnDeleteCvSkills' id=val.id) Suppr.
      br
      each value in skill_detail
        if value.id_skill_detail == val.id
          li #{value.cvSD_detail}

//- Modal 
div(class="modal fade" id="skillModal" tabindex="-1" role="dialog" aria-labelledby="skillModal" aria-hidden="true")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title" id="exampleModalLabel") Compétences 
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") X
      
      div(class="modal-body")
        form
          div(class="form-group")
            label(for="name" class="col-form-label") Compétences : 
            input(type="text" class="form-control firstFocus" id='cvS_name')
                                
          div(class="form-group" id='details')
            label(for="companyName" class="col-form-label") Details : 
            input(type="text" class="form-control cvS_d" id='cvS_details')
            button(type='button' class="btn btn-dark" id='btnMoreDetails') + 
      div(class="modal-footer")
        button(type="button" class="btn btn-secondary" data-dismiss="modal") Annuler
        button(type='button' class="btn btn-primary btnValidSkills" data-dismiss="modal" id=id_cv) Valider 
