h2#cvTitle #{cv.title}
  button(type="button" class="btn btn-outline-warning btn-sm btnUpdateTitle" data-toggle="modal" data-target="#titleModal" data-whatever="title" id=id_cv) Modifier le titre

div(class="modal fade" id="titleModal" tabindex="-1" role="dialog" aria-labelledby="TitleModalLabel" aria-hidden="true")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title" id="exampleModalLabel") Titre
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") X
      div(class="modal-body")
        form
          div(class="form-group")
            label(for="recipient-name" class="col-form-label") Nouveau titre : 
            input(type="text" class="form-control firstFocus" value=cv.title id="cv_title")
      div(class="modal-footer")
        button(type="button" class="btn btn-secondary" data-dismiss="modal") Annuler
        button(type="button" class="btn btn-primary btnValidUpdateTitle" id=id_cv) Valider
