div#cvWork
  h4 Expériences :
    //- Button Add 
    button(type="button" class="btn btn-outline-success btn-sm btnAddCvWork" data-toggle="modal" data-target="#workModal" data-whatever="cv_work" id=id_cv) Ajouter 
  //- Description cv_work
  div
    each val in work
      div#divWork
        br
        span#title #{val.cvW_jobTitle} 
        if val.cvW_jobContractType
          | (#{val.cvW_jobContractType})
        button(type="button" class="btn btn-outline-warning btn-sm btnUpdateCvWork" data-toggle="modal" data-target="#workModal" data-whatever="cv_work" id=val.cvW_id) Modifier
        button(type="button" class='btn btn-outline-danger btn-sm btnDeleteCvWork' id=val.cvW_id) Suppr.
        br
        span#company 
          if val.cvW_companyName
            | À #{val.cvW_companyName} 
          if val.cvW_jobCity
            | (#{val.cvW_jobCity})
        span#date 
          if (!val.cvW_jobFinishDate && !val.cvW_jobStartDate)
            | 
          else if (!val.cvW_jobStartDate && val.cvW_jobFinishDate)
            | jusqu'au #{val.cvW_jobFinishDate}
          else if (val.cvW_jobStartDate && !val.cvW_jobFinishDate)
            |  du #{val.cvW_jobStartDate} à aujourd'hui
          else 
            | du #{val.cvW_jobStartDate} au #{val.cvW_jobFinishDate}
        br
        a(href='http://' + val.cvW_companyWebsite) #{val.cvW_companyWebsite}
        br
        span#descriptionCompany #{val.cvW_companyDescription}
        br
        br 
        span#descriptionJob Description du poste : #{val.cvW_jobDescription}
        br
        span#detailsJob Missions : #{val.cvW_jobDetails}
        br
    
  //- Modal 
  div(class="modal fade" id="workModal" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="exampleModalLabel") Expérience 
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") X
        
        div(class="modal-body")
          form
            div(class="form-group")
              label(for="name" class="col-form-label") Poste * : 
              input(type="text" class="form-control firstFocus" id='cvW_jobTitle')
              
            div(class='row')
                div(class='col-md-6')
                  div(class="form-group")
                    label(for="jobStartDate" class="col-form-label") Date de début : 
                    input(type="date" class="form-control" id='cvW_jobStartDate')
                div(class='col-md-6')
                  div(class="form-group")
                    label(for="jobFinishDate" class="col-form-label") Date de fin : 
                    input(type="date" class="form-control" id='cvW_jobFinishDate')
            
            div(class='row')
              div(class='col-md-6')
                div(class="form-group")
                    label(for="city" class="col-form-label") Lieu : 
                    input(type="text" class="form-control" id='cvW_jobCity')
              div(class='col-md-6')
                div(class="form-group")
                  label(for="jobContractType" class="col-form-label") Type de contrat : 
                  input(type="text" class="form-control" id='cvW_jobContractType')
                    
            div(class="form-group")
              label(for="companyName" class="col-form-label") Nom de l'entreprise : 
              input(type="text" class="form-control" id='cvW_companyName')
            
            div(class="form-group")
              label(for="companyWebsite" class="col-form-label") Site web de l'entreprise : 
              input(type="text" class="form-control" id='cvW_companyWebsite')

            div(class="form-group")
              label(for="companyDescription" class="col-form-label") Description de l'entreprise : 
              input(type="textarea" class="form-control" id='cvW_companyDescription')
                          
            div(class="form-group")
              label(for="jobDescription" class="col-form-label") Description du poste : 
              input(type="text" class="form-control" id='cvW_jobDescription')
            
            div(class="form-group")
              label(for="jobDetails" class="col-form-label") Missions : 
              input(type="text" class="form-control" id='cvW_jobDetails')
              //- button(type='button' class='btn' id='moreJobDetails') Plus v //

          div(class="modal-footer")
            button(type="button" class="btn btn-secondary" data-dismiss="modal") Annuler
            button(type='button' class="btn btn-primary btnValidPost" data-dismiss="modal" id=id_cv) Valider 
