head 
  meta(charset="utf-8")
  meta(name='viewport' content='width-device-width initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='ie-edge')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  title Plateforme_CV _ Register
