doctype html
html

  include head.pug
  link(rel='stylesheet' href='./css/index.css')
  title Plateforme_CV _ Login/Register
  
  body 
    div(class='container-fluid')#index
      div(class='row')
        div(class='col-md-6')#welcome
          h1 Bienvenue !
        div(class='col-md-6')#connect
          div#login
            h2 Se connecter          
            form(action='/login' method='post')
              div(class='form-group')
                label Email :
                input(type='email' class='form-control' name='user_email' required)#emailLogin
                div(class='helpEmail' hidden) Adresse email invalide
              div(class='form-group')
                  label Mot de passe :
                  input(type='password' class='form-control' name='user_password' required)#passwordLogin
                  div(class='helpPassword' hidden) Le mot de passe doit contenir au minimum 8 caractères dont une lettre et un chiffre
              if message
                p#message #{message}
              button(type='submit' class='btn btn-outline-success' id='btnConnect') Se connecter
          br
          div 
            | Déjà un compte ?
            button(type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#registerModal" data-whatever="register") S'enregistrer 

    //- Modal 
    div(class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true")
      div(class="modal-dialog" role="document")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title" id="exampleModalLabel") Créer un nouveau compte 
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") X
          
          div(class="modal-body")
            form(action='/signup' method='post')
              div(class='form-group')
                label Email :
                input(type='email' class='form-control' name='user_email')#emailConnect
                div(class='helpEmail' hidden) Adresse email invalide
              div(class='form-group')
                  label Mot de passe :
                  input(type='password' class='form-control password' name='user_password')#passwordConnect
                  div(class='helpPassword' hidden) Le mot de passe doit contenir au minimum 8 caractères dont une lettre et un chiffre
              button(type='submit' class='btn btn-outline-primary') Valider

  include script.pug
  
