div
  nav(class='navbar navbar-expand-lg navbar-dark bg-dark')
    a(class="navbar-brand" href="#")#btnBacktoProfile Accueil 
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")

    div(class="collapse navbar-collapse" id="navbarSupportedContent")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item dropdown")
            a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") CV
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              each value in cvAll 
                a(class="dropdown-item" href='/profile/cv/:' + value.id) #{value.title}
      ul(class="navbar-nav ml-auto")
        li(class="nav-item dropdown") 
          a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Mon compte
          div(class="dropdown-menu" aria-labelledby="navbarDropdown")
            a(class="dropdown-item" href='/logout') Deconnection
