doctype html
html

  include head.pug
  link(rel='stylesheet' href='./css/profile.css')
  title profile
  
  body 
    include nav.pug
    div(class='container')
      
      div(class='row')
        div(class='col-sm-12')
          div(class='well')
            br
            h3 Bienvenue #{user.user_email} 
            
      div(class='row')
        div(class='col-sm-12') 
          h3 Créer un nouveau CV
          form(action='profile/cv/add' method='post')
            div(class='row')
                div(class='col-sm-2')
                  label Titre du CV :
                div(class='col-sm-10')
                  input(type='text' name='title')
                  button(type='submit' class='btn btn-outline-success') Créer
      
      div
        h3 Liste de CV crées 
        ul#titlesCv
          each val in cvAll
            li(class='titlesCv' id=val.id)= val.title
              br
              button(class='btn btn-outline-success btn-sm btnsConsultCv' id=val.id) Consulter
              button(class='btn btn-outline-danger btn-sm btnsDeleteCv' id=val.id) Supprimer
          else
            | Vous n'avez pas encore crée de CV !

    include script.pug
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript' src='./js/profile.js')
