a {
  font-style: italic;
  color : black;
}

h4 {
  text-decoration: underline;
}

.container-fluid {
  padding : 0;
}

#index {
  height : 300px;
}

.navbar a {
  font-style: normal;
}

.navbar-nav a {
  font-style: normal;
}

.row {
  margin-top: 2%;
}

.modal-header{
  background-color: rgba(89, 151, 249, 0.7);
}

.modal-body input{
  border-bottom: 1.5px solid rgba(89, 151, 249);
  border-top : 0px;
  border-right : 0px;
  border-left : 0px;
  height : 75%;
  background-color: rgba(89, 151, 249, 0.1)
}

#welcome {
  background-color: rgba(242, 199, 118, 1);
  text-align: center;
}

#cvTitle {
  color : rgba(23, 78, 165);
  height : auto;
  border-bottom : 1px dashed black;
}

#cvIdentity {
  border-right : 1px solid black;
}

#profilPicture {
  border : 1px solid black;
  width : 75%;
  height : 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
  margin-top: 20%;
}

#cvWork {
  margin-top: 10%;
}

#cvSkills{
  margin-top: 10%;
}

button {
  float : right;
}

#title, #name {
  color : rgba(89, 151, 249);
  font-size : 1.2em;
}

#company, #date{
  font-size : 0.8em;
}

#btnMoreDetails {
  margin-top: 5%;
  width : 15%;
  float : inherit;
}

#details input {
  margin-bottom : 3%;
}

#divSkills li {
  margin-left : 10%;
}

.navbar-nav .ml-auto {
  margin-right: 20%;
}

#photo {
  width: 100%;
  height:100%;
  display:block;
}
