/*=============================================================
===============================================================
===============================================================
                            MEDIA MOBILE
===============================================================
===============================================================
=============================================================*/

#index {
  overflow-x: hidden;
  height : 100vh;
}

.row {
  height : 100%
}

#welcome {
  background-color: rgb(242, 199, 118);
  height: 50vh;
}

#welcome {
  text-align: center;
}

#welcome h1{
  margin-top : 30%
}

#login {
  padding-top : 10%;
}

.form-group input{
  width : 50%
}

.btn-sm {
  margin-left: 3%;
}

.modal-body .btn{
  margin : 3%;
  float : right;
}

.modal-body input {
  width : 100%;
}

#message {
  color : red;
}

.helpPassword, .helpEmail {
  font-size: 0.75em;
}

/*=============================================================
===============================================================
===============================================================
                            MEDIA TABLETTE
===============================================================
===============================================================
=============================================================*/

@media screen and (min-width :767px){

#welcome {
  height : 100vh;
}

}
